# Archivos de Log
*.log

# Archivos compilados de Java y paquetes
/target/
*.jar
*.war
*.ear

# Archivos del IDE
.idea/
*.iml
*.project
*.classpath
.settings/
.vscode/

# Archivos del Sistema Operativo
.DS_Store
Thumbs.db

# Archivos de dependencia de Node
node_modules/
npm-debug.log

# Archivos de configuración locales que pueden contener secretos
application-local.properties
.env