# =========================
# Archivos de compilación
# =========================
target/
build/
*.class
*.log

# =========================
# IDEs
# =========================
# IntelliJ IDEA
*.iml
.idea/

# Eclipse
.classpath
.project
.settings/

# VS Code
.vscode/

# =========================
# Archivos de sistema
# =========================
.DS_Store
Thumbs.db

# =========================
# Variables de entorno
# =========================
.env